<head>
    <style>
        .card 
        {
            box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
            margin: 8px;
        }
        .column 
        {
            float: left;
            width: 33.3%;
            margin-bottom: 16px;
            padding: 0 8px;
        }
    
    </style>
</head>
<h1>Our Projects</h1>

<div class="column">
    <div class="card">
        <div class="container">
        <h2>Hangman</h2>
        <p>This is a program that will run a game of hangman within the python console.</p>
        <img src="/images/hangman.png" alt="Hangman" style="width: 100%;">
        </div>
    </div>
</div>

<div class="column">
    <div class="card">
        <div class="container">
        <h2>Magic 8 Ball Game</h2>
        <p>This game was entirely contained in python. It prompts to ask a question and will answer! </p>
        <img src="/images/magic8ball.png" alt="Magic 8 Ball" style="width: 100%;">
        </div>
    </div>
</div>

<div class="column">
    <div class="card">
        <div class="container">
        <h2>Shop Keeper App</h2>
        <p>This is a simple inventory tracker app. The console will prompt to see the list, display the current inventory and 
            you will have the option to purchase. After purchasing, the inventory will be updated.</p>
        <img src="/images/shopkeeper.png" alt="Shop Keeper" style="width: 100%;">
        </div>
    </div>
</div>